#Remove all folders named .vs in all folders and subfolder of project
/*/.vs

#Remove files that generated after build
/*/x64
/*/*/x64

#One "/*/" means that we will enter only 1 time into all folders(only folders) in this folder and search condition
#Two "/*/*" means that we will enter only 2 times into all folders (only folders) in this folder and search condition
#Three "/**/" means that we will search in all this folder and all existing inner folders